.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox___1DvL0 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___1DvL0 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1DvL0 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1DvL0 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 19px);
    height: calc(100% + 19px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1DvL0 > :global(.__wab_flex-container) > *,
  .freeBox___1DvL0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___1DvL0 > :global(.__wab_flex-container) > picture > img,
  .freeBox___1DvL0
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 19px;
  }
}
.freeBox__xRmKp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__xRmKp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__xRmKp > :global(.__wab_flex-container) > *,
.freeBox__xRmKp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xRmKp > :global(.__wab_flex-container) > picture > img,
.freeBox__xRmKp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xRmKp {
    width: auto;
  }
}
.h6___2N95S {
  height: 40px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h6___2N95S {
    width: auto;
  }
}
.freeBox__rdYkK {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 40px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__rdYkK > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__rdYkK > :global(.__wab_flex-container) > *,
.freeBox__rdYkK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rdYkK > :global(.__wab_flex-container) > picture > img,
.freeBox__rdYkK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rdYkK {
    width: auto;
  }
}
.mail {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 25px;
  width: 25px;
  flex-shrink: 0;
}
.link__yBB2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__yBB2 {
    text-align: center;
  }
}
.freeBox__tKMcs {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 40px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__tKMcs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__tKMcs > :global(.__wab_flex-container) > *,
.freeBox__tKMcs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tKMcs > :global(.__wab_flex-container) > picture > img,
.freeBox__tKMcs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.mail2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.text__nE8Q {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nE8Q {
    text-align: center;
  }
}
.freeBox__mQYpK {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 40px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__mQYpK > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__mQYpK > :global(.__wab_flex-container) > *,
.freeBox__mQYpK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mQYpK > :global(.__wab_flex-container) > picture > img,
.freeBox__mQYpK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mQYpK {
    width: auto;
  }
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.text__hYd42 {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hYd42 {
    text-align: center;
  }
}
.freeBox__o61He {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__o61He > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__o61He > :global(.__wab_flex-container) > *,
.freeBox__o61He > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o61He > :global(.__wab_flex-container) > picture > img,
.freeBox__o61He
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o61He {
    width: auto;
  }
}
.h6__ie9Km {
  height: 40px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.link___0Fgf1 {
  position: relative;
  width: 100%;
  height: 40px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___0Fgf1 {
    text-align: center;
  }
}
.link__ifXIx {
  position: relative;
  width: 100%;
  height: 40px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__ifXIx {
    text-align: center;
  }
}
.link__w8K0V {
  position: relative;
  width: 100%;
  height: 40px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__w8K0V {
    text-align: center;
  }
}
.freeBox___0NeK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___0NeK > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox___0NeK > :global(.__wab_flex-container) > *,
.freeBox___0NeK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0NeK > :global(.__wab_flex-container) > picture > img,
.freeBox___0NeK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0NeK {
    height: auto;
    width: auto;
    display: none;
  }
}
.h6__lYy2O {
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h6__lYy2O {
    width: auto;
  }
}
.link___0CIJk {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___0CIJk {
    text-align: center;
  }
}
.link__kg30B {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__kg30B {
    text-align: center;
  }
}
.link__ml570 {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__ml570 {
    text-align: center;
  }
}
.link__ln7X {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__ln7X {
    text-align: center;
  }
}
.freeBox__mpkOv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__jcHj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-top-width: 2px;
  border-top-style: solid;
  margin-top: 20px;
  min-width: 0;
  padding: 0px;
}
.text___2Vci {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
.text__bn83H {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
