.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__wPvr {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__wPvr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wPvr {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wPvr > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 19px);
    height: calc(100% + 19px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wPvr > :global(.__wab_flex-container) > *,
  .freeBox__wPvr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wPvr > :global(.__wab_flex-container) > picture > img,
  .freeBox__wPvr
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 19px;
  }
}
.freeBox___6Iqo1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___6Iqo1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox___6Iqo1 > :global(.__wab_flex-container) > *,
.freeBox___6Iqo1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6Iqo1 > :global(.__wab_flex-container) > picture > img,
.freeBox___6Iqo1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6Iqo1 {
    width: auto;
  }
}
.h6__cQhQr {
  height: 40px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h6__cQhQr {
    width: auto;
  }
}
.freeBox___6PU9P {
  height: 40px;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  position: relative;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox___6PU9P > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox___6PU9P > :global(.__wab_flex-container) > *,
.freeBox___6PU9P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6PU9P > :global(.__wab_flex-container) > picture > img,
.freeBox___6PU9P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6PU9P {
    width: auto;
  }
}
.mail {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 25px;
  width: 25px;
  flex-shrink: 0;
}
.link__rSXC {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__rSXC {
    text-align: center;
  }
}
.freeBox__zsy1Q {
  height: 40px;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  position: relative;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__zsy1Q > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__zsy1Q > :global(.__wab_flex-container) > *,
.freeBox__zsy1Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zsy1Q > :global(.__wab_flex-container) > picture > img,
.freeBox__zsy1Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
  margin-top: 0px;
}
.mail2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.text___00K6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___00K6 {
    text-align: center;
  }
}
.freeBox__cAYo {
  height: 40px;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  position: relative;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__cAYo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__cAYo > :global(.__wab_flex-container) > *,
.freeBox__cAYo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cAYo > :global(.__wab_flex-container) > picture > img,
.freeBox__cAYo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cAYo {
    width: auto;
  }
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.text__gbgVm {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gbgVm {
    text-align: center;
  }
}
.freeBox__wFsty {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__wFsty > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__wFsty > :global(.__wab_flex-container) > *,
.freeBox__wFsty > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wFsty > :global(.__wab_flex-container) > picture > img,
.freeBox__wFsty
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wFsty {
    width: auto;
  }
}
.h6__g5Jk5 {
  height: 40px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.link__xKqhs {
  height: 40px;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  position: relative;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.link__xKqhs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.link__xKqhs > :global(.__wab_flex-container) > *,
.link__xKqhs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__xKqhs > :global(.__wab_flex-container) > picture > img,
.link__xKqhs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
  margin-top: 0px;
}
.link__xKqhs {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  position: relative;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__xKqhs {
    text-align: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__xKqhs {
    text-align: center;
  }
}
.link__hJy5P {
  position: relative;
  width: 100%;
  height: 40px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__hJy5P {
    text-align: center;
  }
}
.link__cmnK0 {
  height: 40px;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  position: relative;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.link__cmnK0 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.link__cmnK0 > :global(.__wab_flex-container) > *,
.link__cmnK0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__cmnK0 > :global(.__wab_flex-container) > picture > img,
.link__cmnK0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
  margin-top: 0px;
}
.link__cmnK0 {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  position: relative;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__cmnK0 {
    text-align: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__cmnK0 {
    text-align: center;
  }
}
.freeBox___5PsvR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___5PsvR > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox___5PsvR > :global(.__wab_flex-container) > *,
.freeBox___5PsvR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5PsvR > :global(.__wab_flex-container) > picture > img,
.freeBox___5PsvR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5PsvR {
    height: auto;
    width: auto;
    display: none;
  }
}
.h6__avTBi {
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h6__avTBi {
    width: auto;
  }
}
.link__ugJq {
  height: 40px;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  position: relative;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.link__ugJq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.link__ugJq > :global(.__wab_flex-container) > *,
.link__ugJq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__ugJq > :global(.__wab_flex-container) > picture > img,
.link__ugJq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
  margin-top: 0px;
}
.link__ugJq {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  position: relative;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__ugJq {
    text-align: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__ugJq {
    text-align: center;
  }
}
.link___9ZFsj {
  height: 40px;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  position: relative;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.link___9ZFsj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.link___9ZFsj > :global(.__wab_flex-container) > *,
.link___9ZFsj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___9ZFsj > :global(.__wab_flex-container) > picture > img,
.link___9ZFsj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
  margin-top: 0px;
}
.link___9ZFsj {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  position: relative;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___9ZFsj {
    text-align: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___9ZFsj {
    text-align: center;
  }
}
.link___2DPsF {
  height: 40px;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  position: relative;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.link___2DPsF > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.link___2DPsF > :global(.__wab_flex-container) > *,
.link___2DPsF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___2DPsF > :global(.__wab_flex-container) > picture > img,
.link___2DPsF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
  margin-top: 0px;
}
.link___2DPsF {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  position: relative;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___2DPsF {
    text-align: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___2DPsF {
    text-align: center;
  }
}
.link__p0G6 {
  height: 40px;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  position: relative;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.link__p0G6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.link__p0G6 > :global(.__wab_flex-container) > *,
.link__p0G6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__p0G6 > :global(.__wab_flex-container) > picture > img,
.link__p0G6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
  margin-top: 0px;
}
.link__p0G6 {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  position: relative;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__p0G6 {
    text-align: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__p0G6 {
    text-align: center;
  }
}
.freeBox__mkOy7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__jnz1L {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  min-width: 0;
  padding: 0px;
}
.text__a7X3Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
.text__aYyik {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
