@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-WZ3Ug_9y5h4: #000000;
  --plasmic-token-unnamed-style-token: var(--token-WZ3Ug_9y5h4);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-HN0JP7wvEmyF_font-family: "Inter", sans-serif;
  --mixin-HN0JP7wvEmyF_font-size: 16px;
  --mixin-HN0JP7wvEmyF_font-weight: 400;
  --mixin-HN0JP7wvEmyF_font-style: normal;
  --mixin-HN0JP7wvEmyF_color: #535353;
  --mixin-HN0JP7wvEmyF_text-align: left;
  --mixin-HN0JP7wvEmyF_text-transform: none;
  --mixin-HN0JP7wvEmyF_line-height: 1.5;
  --mixin-HN0JP7wvEmyF_letter-spacing: normal;
  --mixin-HN0JP7wvEmyF_white-space: pre-wrap;
  --mixin-HN0JP7wvEmyF_user-select: text;
  --mixin-HN0JP7wvEmyF_text-decoration-line: none;
  --mixin-HN0JP7wvEmyF_text-overflow: clip;
  --mixin-XvLIoypWX65q_color: #000000;
  --mixin-XvLIoypWX65q_font-weight: 700;
  --mixin-XvLIoypWX65q_font-size: 64px;
  --mixin-XvLIoypWX65q_line-height: 1;
  --mixin-XvLIoypWX65q_letter-spacing: -1px;
  --mixin-XvLIoypWX65q_white-space: pre-wrap;
  --mixin-Wwjh0AaMJruY_color: #000000;
  --mixin-Wwjh0AaMJruY_font-size: 48px;
  --mixin-Wwjh0AaMJruY_font-weight: 700;
  --mixin-Wwjh0AaMJruY_letter-spacing: -0.5px;
  --mixin-Wwjh0AaMJruY_line-height: 1.1;
  --mixin-Wwjh0AaMJruY_white-space: pre-wrap;
  --mixin-l6wAQWSngzV-_color: #0070f3;
  --mixin-l6wAQWSngzV-_white-space: pre-wrap;
  --mixin-dYmNZZ5IbcLB_color: #000000;
  --mixin-dYmNZZ5IbcLB_font-size: 32px;
  --mixin-dYmNZZ5IbcLB_font-weight: 600;
  --mixin-dYmNZZ5IbcLB_line-height: 1.2;
  --mixin-dYmNZZ5IbcLB_white-space: pre-wrap;
  --mixin-xUEQjcQNj4Cu_color: #000000;
  --mixin-xUEQjcQNj4Cu_font-size: 24px;
  --mixin-xUEQjcQNj4Cu_font-weight: 600;
  --mixin-xUEQjcQNj4Cu_line-height: 1.3;
  --mixin-xUEQjcQNj4Cu_white-space: pre-wrap;
  --mixin-mFEWpaoOJSLW_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-mFEWpaoOJSLW_border-bottom-color: #dddddd;
  --mixin-mFEWpaoOJSLW_border-bottom-style: solid;
  --mixin-mFEWpaoOJSLW_border-bottom-width: 1px;
  --mixin-mFEWpaoOJSLW_border-left-color: #dddddd;
  --mixin-mFEWpaoOJSLW_border-left-style: solid;
  --mixin-mFEWpaoOJSLW_border-left-width: 1px;
  --mixin-mFEWpaoOJSLW_border-right-color: #dddddd;
  --mixin-mFEWpaoOJSLW_border-right-style: solid;
  --mixin-mFEWpaoOJSLW_border-right-width: 1px;
  --mixin-mFEWpaoOJSLW_border-top-color: #dddddd;
  --mixin-mFEWpaoOJSLW_border-top-style: solid;
  --mixin-mFEWpaoOJSLW_border-top-width: 1px;
  --mixin-mFEWpaoOJSLW_border-bottom-left-radius: 3px;
  --mixin-mFEWpaoOJSLW_border-bottom-right-radius: 3px;
  --mixin-mFEWpaoOJSLW_border-top-left-radius: 3px;
  --mixin-mFEWpaoOJSLW_border-top-right-radius: 3px;
  --mixin-mFEWpaoOJSLW_font-family: "Inconsolata";
  --mixin-mFEWpaoOJSLW_padding-bottom: 1px;
  --mixin-mFEWpaoOJSLW_padding-left: 4px;
  --mixin-mFEWpaoOJSLW_padding-right: 4px;
  --mixin-mFEWpaoOJSLW_padding-top: 1px;
  --mixin-mFEWpaoOJSLW_white-space: pre-wrap;
  --mixin-nHDPjeXh29KA_border-left-color: #dddddd;
  --mixin-nHDPjeXh29KA_border-left-style: solid;
  --mixin-nHDPjeXh29KA_border-left-width: 3px;
  --mixin-nHDPjeXh29KA_color: #888888;
  --mixin-nHDPjeXh29KA_padding-left: 10px;
  --mixin-nHDPjeXh29KA_white-space: pre-wrap;
  --mixin-9L93Ix1AIoig_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-9L93Ix1AIoig_border-bottom-color: #dddddd;
  --mixin-9L93Ix1AIoig_border-bottom-style: solid;
  --mixin-9L93Ix1AIoig_border-bottom-width: 1px;
  --mixin-9L93Ix1AIoig_border-left-color: #dddddd;
  --mixin-9L93Ix1AIoig_border-left-style: solid;
  --mixin-9L93Ix1AIoig_border-left-width: 1px;
  --mixin-9L93Ix1AIoig_border-right-color: #dddddd;
  --mixin-9L93Ix1AIoig_border-right-style: solid;
  --mixin-9L93Ix1AIoig_border-right-width: 1px;
  --mixin-9L93Ix1AIoig_border-top-color: #dddddd;
  --mixin-9L93Ix1AIoig_border-top-style: solid;
  --mixin-9L93Ix1AIoig_border-top-width: 1px;
  --mixin-9L93Ix1AIoig_border-bottom-left-radius: 3px;
  --mixin-9L93Ix1AIoig_border-bottom-right-radius: 3px;
  --mixin-9L93Ix1AIoig_border-top-left-radius: 3px;
  --mixin-9L93Ix1AIoig_border-top-right-radius: 3px;
  --mixin-9L93Ix1AIoig_font-family: "Inconsolata";
  --mixin-9L93Ix1AIoig_padding-bottom: 3px;
  --mixin-9L93Ix1AIoig_padding-left: 6px;
  --mixin-9L93Ix1AIoig_padding-right: 6px;
  --mixin-9L93Ix1AIoig_padding-top: 3px;
  --mixin-9L93Ix1AIoig_white-space: pre-wrap;
  --mixin-yzxwMwbyosRW_display: flex;
  --mixin-yzxwMwbyosRW_flex-direction: column;
  --mixin-yzxwMwbyosRW_align-items: stretch;
  --mixin-yzxwMwbyosRW_justify-content: flex-start;
  --mixin-yzxwMwbyosRW_list-style-position: outside;
  --mixin-yzxwMwbyosRW_padding-left: 40px;
  --mixin-yzxwMwbyosRW_position: relative;
  --mixin-yzxwMwbyosRW_list-style-type: disc;
  --mixin-yzxwMwbyosRW_white-space: pre-wrap;
  --mixin-ovacdQXAHcfV_display: flex;
  --mixin-ovacdQXAHcfV_flex-direction: column;
  --mixin-ovacdQXAHcfV_align-items: stretch;
  --mixin-ovacdQXAHcfV_justify-content: flex-start;
  --mixin-ovacdQXAHcfV_list-style-position: outside;
  --mixin-ovacdQXAHcfV_padding-left: 40px;
  --mixin-ovacdQXAHcfV_position: relative;
  --mixin-ovacdQXAHcfV_list-style-type: decimal;
  --mixin-ovacdQXAHcfV_white-space: pre-wrap;
  --mixin-R1Joczrmhwed_color: #000000;
  --mixin-R1Joczrmhwed_font-size: 20px;
  --mixin-R1Joczrmhwed_font-weight: 600;
  --mixin-R1Joczrmhwed_line-height: 1.5;
  --mixin-R1Joczrmhwed_white-space: pre-wrap;
  --mixin-vD08NvI9Nevl_color: #000000;
  --mixin-vD08NvI9Nevl_font-size: 16px;
  --mixin-vD08NvI9Nevl_font-weight: 600;
  --mixin-vD08NvI9Nevl_line-height: 1.5;
  --mixin-vD08NvI9Nevl_white-space: pre-wrap;
  --mixin-SE1AhTPsG-Rj_color: #3291ff;
  --mixin-SE1AhTPsG-Rj_white-space: pre-wrap;
  --mixin-SrvHmfg0syBK_white-space: pre-wrap;
  --mixin-xClepZU5GaQU_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-HN0JP7wvEmyF_font-family);
  font-size: var(--mixin-HN0JP7wvEmyF_font-size);
  font-weight: var(--mixin-HN0JP7wvEmyF_font-weight);
  font-style: var(--mixin-HN0JP7wvEmyF_font-style);
  color: var(--mixin-HN0JP7wvEmyF_color);
  text-align: var(--mixin-HN0JP7wvEmyF_text-align);
  text-transform: var(--mixin-HN0JP7wvEmyF_text-transform);
  line-height: var(--mixin-HN0JP7wvEmyF_line-height);
  letter-spacing: var(--mixin-HN0JP7wvEmyF_letter-spacing);
  white-space: var(--mixin-HN0JP7wvEmyF_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-XvLIoypWX65q_color);
  font-weight: var(--mixin-XvLIoypWX65q_font-weight);
  font-size: var(--mixin-XvLIoypWX65q_font-size);
  line-height: var(--mixin-XvLIoypWX65q_line-height);
  letter-spacing: var(--mixin-XvLIoypWX65q_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-Wwjh0AaMJruY_color);
  font-size: var(--mixin-Wwjh0AaMJruY_font-size);
  font-weight: var(--mixin-Wwjh0AaMJruY_font-weight);
  letter-spacing: var(--mixin-Wwjh0AaMJruY_letter-spacing);
  line-height: var(--mixin-Wwjh0AaMJruY_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-l6wAQWSngzV-_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-dYmNZZ5IbcLB_color);
  font-size: var(--mixin-dYmNZZ5IbcLB_font-size);
  font-weight: var(--mixin-dYmNZZ5IbcLB_font-weight);
  line-height: var(--mixin-dYmNZZ5IbcLB_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-xUEQjcQNj4Cu_color);
  font-size: var(--mixin-xUEQjcQNj4Cu_font-size);
  font-weight: var(--mixin-xUEQjcQNj4Cu_font-weight);
  line-height: var(--mixin-xUEQjcQNj4Cu_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-mFEWpaoOJSLW_font-family);
  border-radius: var(--mixin-mFEWpaoOJSLW_border-top-left-radius)
    var(--mixin-mFEWpaoOJSLW_border-top-right-radius)
    var(--mixin-mFEWpaoOJSLW_border-bottom-right-radius)
    var(--mixin-mFEWpaoOJSLW_border-bottom-left-radius);
  padding: var(--mixin-mFEWpaoOJSLW_padding-top)
    var(--mixin-mFEWpaoOJSLW_padding-right)
    var(--mixin-mFEWpaoOJSLW_padding-bottom)
    var(--mixin-mFEWpaoOJSLW_padding-left);
  border-top: var(--mixin-mFEWpaoOJSLW_border-top-width)
    var(--mixin-mFEWpaoOJSLW_border-top-style)
    var(--mixin-mFEWpaoOJSLW_border-top-color);
  border-right: var(--mixin-mFEWpaoOJSLW_border-right-width)
    var(--mixin-mFEWpaoOJSLW_border-right-style)
    var(--mixin-mFEWpaoOJSLW_border-right-color);
  border-bottom: var(--mixin-mFEWpaoOJSLW_border-bottom-width)
    var(--mixin-mFEWpaoOJSLW_border-bottom-style)
    var(--mixin-mFEWpaoOJSLW_border-bottom-color);
  border-left: var(--mixin-mFEWpaoOJSLW_border-left-width)
    var(--mixin-mFEWpaoOJSLW_border-left-style)
    var(--mixin-mFEWpaoOJSLW_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-nHDPjeXh29KA_color);
  padding-left: var(--mixin-nHDPjeXh29KA_padding-left);
  border-left: var(--mixin-nHDPjeXh29KA_border-left-width)
    var(--mixin-nHDPjeXh29KA_border-left-style)
    var(--mixin-nHDPjeXh29KA_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-9L93Ix1AIoig_font-family);
  border-radius: var(--mixin-9L93Ix1AIoig_border-top-left-radius)
    var(--mixin-9L93Ix1AIoig_border-top-right-radius)
    var(--mixin-9L93Ix1AIoig_border-bottom-right-radius)
    var(--mixin-9L93Ix1AIoig_border-bottom-left-radius);
  padding: var(--mixin-9L93Ix1AIoig_padding-top)
    var(--mixin-9L93Ix1AIoig_padding-right)
    var(--mixin-9L93Ix1AIoig_padding-bottom)
    var(--mixin-9L93Ix1AIoig_padding-left);
  border-top: var(--mixin-9L93Ix1AIoig_border-top-width)
    var(--mixin-9L93Ix1AIoig_border-top-style)
    var(--mixin-9L93Ix1AIoig_border-top-color);
  border-right: var(--mixin-9L93Ix1AIoig_border-right-width)
    var(--mixin-9L93Ix1AIoig_border-right-style)
    var(--mixin-9L93Ix1AIoig_border-right-color);
  border-bottom: var(--mixin-9L93Ix1AIoig_border-bottom-width)
    var(--mixin-9L93Ix1AIoig_border-bottom-style)
    var(--mixin-9L93Ix1AIoig_border-bottom-color);
  border-left: var(--mixin-9L93Ix1AIoig_border-left-width)
    var(--mixin-9L93Ix1AIoig_border-left-style)
    var(--mixin-9L93Ix1AIoig_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-yzxwMwbyosRW_display);
  flex-direction: var(--mixin-yzxwMwbyosRW_flex-direction);
  align-items: var(--mixin-yzxwMwbyosRW_align-items);
  justify-content: var(--mixin-yzxwMwbyosRW_justify-content);
  list-style-position: var(--mixin-yzxwMwbyosRW_list-style-position);
  padding-left: var(--mixin-yzxwMwbyosRW_padding-left);
  position: var(--mixin-yzxwMwbyosRW_position);
  list-style-type: var(--mixin-yzxwMwbyosRW_list-style-type);
  flex-column-gap: var(--mixin-yzxwMwbyosRW_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-ovacdQXAHcfV_display);
  flex-direction: var(--mixin-ovacdQXAHcfV_flex-direction);
  align-items: var(--mixin-ovacdQXAHcfV_align-items);
  justify-content: var(--mixin-ovacdQXAHcfV_justify-content);
  list-style-position: var(--mixin-ovacdQXAHcfV_list-style-position);
  padding-left: var(--mixin-ovacdQXAHcfV_padding-left);
  position: var(--mixin-ovacdQXAHcfV_position);
  list-style-type: var(--mixin-ovacdQXAHcfV_list-style-type);
  flex-column-gap: var(--mixin-ovacdQXAHcfV_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-R1Joczrmhwed_color);
  font-size: var(--mixin-R1Joczrmhwed_font-size);
  font-weight: var(--mixin-R1Joczrmhwed_font-weight);
  line-height: var(--mixin-R1Joczrmhwed_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-vD08NvI9Nevl_color);
  font-size: var(--mixin-vD08NvI9Nevl_font-size);
  font-weight: var(--mixin-vD08NvI9Nevl_font-weight);
  line-height: var(--mixin-vD08NvI9Nevl_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-SE1AhTPsG-Rj_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
