.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  padding-right: 0px;
  padding-bottom: 0px;
  flex-shrink: 1;
  flex-grow: 0;
  min-width: 0;
}
@media (max-width: 1024px) {
  .root {
    width: auto;
    justify-self: flex-start;
    margin-bottom: 0px;
    height: auto;
    display: inline-flex;
  }
}
.frame15 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.frame15 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.frame15 > :global(.__wab_flex-container) > *,
.frame15 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame15 > :global(.__wab_flex-container) > picture > img,
.frame15
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame15 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame15 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__d3Mw {
  display: block;
  font-size: 36px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  align-self: stretch;
  position: relative;
}
.frame14 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  width: 100%;
  flex-grow: 0;
  min-width: 0;
}
.frame14 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.frame14 > :global(.__wab_flex-container) > *,
.frame14 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame14 > :global(.__wab_flex-container) > picture > img,
.frame14
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
@media (max-width: 1024px) {
  .frame14 {
    padding-bottom: 0px;
  }
}
@media (max-width: 1024px) {
  .frame14 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1024px) {
  .frame14 > :global(.__wab_flex-container) > *,
  .frame14 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .frame14 > :global(.__wab_flex-container) > picture > img,
  .frame14
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 20px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame14 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame14 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame14 > :global(.__wab_flex-container) > *,
  .frame14 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .frame14 > :global(.__wab_flex-container) > picture > img,
  .frame14
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 40px;
  }
}
.frame11 {
  height: 100%;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  width: 33.3%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 30px) !important;
  min-height: 0;
  padding: 20px;
  border: 2px solid var(--token-WZ3Ug_9y5h4);
}
.frame11 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.frame11 > :global(.__wab_flex-container) > *,
.frame11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame11 > :global(.__wab_flex-container) > picture > img,
.frame11
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (max-width: 1024px) {
  .frame11 {
    margin-left: calc(0px + 20px) !important;
    margin-top: calc(0px + 0px) !important;
    padding: 10px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame11 {
    width: auto;
    margin-left: calc(0px + 0px) !important;
    margin-top: calc(0px + 40px) !important;
  }
}
.httpsChaniaRentalsStatics3EuWest2Amazonaws1 {
  background: url("/plasmic/blank_website/images/httpsChaniaRentalsStatics3EuWest2Amazonaws1.jpg") center center / cover no-repeat;
  height: 224px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-grow: 0;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
@media (max-width: 1024px) {
  .httpsChaniaRentalsStatics3EuWest2Amazonaws1 {
    height: 160px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .httpsChaniaRentalsStatics3EuWest2Amazonaws1 {
    margin-bottom: 0px;
    height: 370px;
    flex-shrink: 0;
  }
}
.frame12 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.text__kvxdo {
  display: block;
  font-size: 24px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.text__hoXgY {
  display: block;
  font-size: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.frame9 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.frame3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame3 > :global(.__wab_flex-container) > *,
.frame3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3 > :global(.__wab_flex-container) > picture > img,
.frame3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.frame4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame4 > :global(.__wab_flex-container) > *,
.frame4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame4 > :global(.__wab_flex-container) > picture > img,
.frame4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.svg__fi3Cy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 30px;
  height: 22px;
  display: block;
  flex-shrink: 0;
}
.text__etaza {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.frame5 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame5 > :global(.__wab_flex-container) > *,
.frame5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame5 > :global(.__wab_flex-container) > picture > img,
.frame5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.svg__ilxdD {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 30px;
  height: 22px;
  display: block;
  flex-shrink: 0;
}
.text__tsuiw {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.frame6 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame6 > :global(.__wab_flex-container) > *,
.frame6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame6 > :global(.__wab_flex-container) > picture > img,
.frame6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.svg___8StvA {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 30px;
  height: 22px;
  display: block;
  flex-shrink: 0;
}
.text__sGn0J {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.frame7 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame7 > :global(.__wab_flex-container) > *,
.frame7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame7 > :global(.__wab_flex-container) > picture > img,
.frame7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (max-width: 1024px) {
  .frame7 {
    display: none;
  }
}
.svg__oEy8P {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 30px;
  height: 22px;
  display: block;
  flex-shrink: 0;
}
.text__pLFb {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.frame8 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame8 > :global(.__wab_flex-container) > *,
.frame8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame8 > :global(.__wab_flex-container) > picture > img,
.frame8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.svg__ogJs8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 30px;
  height: 22px;
  display: block;
  flex-shrink: 0;
}
.text__zxzJv {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.freeBox__fbTRq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: stretch;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1024px) {
  .freeBox__fbTRq {
    height: 100%;
    min-height: 0;
    display: flex;
    padding: 0px;
  }
}
.text__cnpKg {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(0, 0, 0, 1);
}
.frame10 {
  background: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 3px;
  padding: 10px 20px;
}
.frame10 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame10 > :global(.__wab_flex-container) > *,
.frame10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame10 > :global(.__wab_flex-container) > picture > img,
.frame10
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__eWqX {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.frame13 {
  height: 100%;
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-direction: column;
  width: 33.3%;
  min-height: 0;
  padding: 20px;
  border: 2px solid #000000;
}
.frame13 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.frame13 > :global(.__wab_flex-container) > *,
.frame13 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame13 > :global(.__wab_flex-container) > picture > img,
.frame13
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (max-width: 1024px) {
  .frame13 {
    padding: 10px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame13 {
    width: auto;
  }
}
.freeBox__dNuMh {
  background: url("/plasmic/blank_website/images/httpsChaniaRentalsStatics3EuWest2AmazonawscomVillasAquilaVillaSlidesFullAquilaVilla1Jpg.jpg") center center / cover no-repeat;
  height: 224px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-grow: 0;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
@media (max-width: 1024px) {
  .freeBox__dNuMh {
    height: 160px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dNuMh {
    height: 370px;
    width: auto;
    flex-shrink: 0;
  }
}
.frame16 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.text__cP3C7 {
  display: block;
  font-size: 24px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.text__ccDrA {
  display: block;
  font-size: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.frame27 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.frame28 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame28 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame28 > :global(.__wab_flex-container) > *,
.frame28 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame28 > :global(.__wab_flex-container) > picture > img,
.frame28
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.frame29 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame29 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame29 > :global(.__wab_flex-container) > *,
.frame29 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame29 > :global(.__wab_flex-container) > picture > img,
.frame29
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.svg__jqbi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 30px;
  height: 22px;
  display: block;
  flex-shrink: 0;
}
.text__aRzMt {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.frame30 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame30 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame30 > :global(.__wab_flex-container) > *,
.frame30 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame30 > :global(.__wab_flex-container) > picture > img,
.frame30
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.svg__yBbxJ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 30px;
  height: 22px;
  display: block;
  flex-shrink: 0;
}
.text__doxxB {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.frame31 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame31 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame31 > :global(.__wab_flex-container) > *,
.frame31 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame31 > :global(.__wab_flex-container) > picture > img,
.frame31
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.svg__ikblf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 30px;
  height: 22px;
  display: block;
  flex-shrink: 0;
}
.text__t0Gn {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.frame32 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame32 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame32 > :global(.__wab_flex-container) > *,
.frame32 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame32 > :global(.__wab_flex-container) > picture > img,
.frame32
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (max-width: 1024px) {
  .frame32 {
    display: none;
  }
}
.svg__tx2RS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 30px;
  height: 22px;
  display: block;
  flex-shrink: 0;
}
.text__rhvyc {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.frame33 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame33 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame33 > :global(.__wab_flex-container) > *,
.frame33 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame33 > :global(.__wab_flex-container) > picture > img,
.frame33
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.svg__uk4Uf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 30px;
  height: 22px;
  display: block;
  flex-shrink: 0;
}
.text__bo6Qh {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.freeBox__dc14T {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: stretch;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
@media (max-width: 1024px) {
  .freeBox__dc14T {
    height: 100%;
    min-height: 0;
    display: flex;
    padding: 0px;
  }
}
.text__ru8Al {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(0, 0, 0, 1);
}
.frame24 {
  background: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 3px;
  padding: 10px 20px;
}
.frame24 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame24 > :global(.__wab_flex-container) > *,
.frame24 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame24 > :global(.__wab_flex-container) > picture > img,
.frame24
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__tUx9 {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.frame25 {
  height: 100%;
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-direction: column;
  width: 33.3%;
  min-height: 0;
  padding: 20px;
  border: 2px solid #000000;
}
.frame25 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.frame25 > :global(.__wab_flex-container) > *,
.frame25 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame25 > :global(.__wab_flex-container) > picture > img,
.frame25
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (max-width: 1024px) {
  .frame25 {
    padding: 10px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .frame25 {
    width: auto;
  }
}
.httpsChaniaRentalsStatics3EuWest2Amazonaws3 {
  background: url("/plasmic/blank_website/images/httpsChaniaRentalsStatics3EuWest2Amazonaws4.jpg") center center / cover no-repeat;
  height: 224px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-grow: 0;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
@media (max-width: 1024px) {
  .httpsChaniaRentalsStatics3EuWest2Amazonaws3 {
    height: 160px;
    padding-bottom: 0px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .httpsChaniaRentalsStatics3EuWest2Amazonaws3 {
    height: 370px;
    flex-shrink: 0;
  }
}
.frame26 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.text___1HTp7 {
  display: block;
  font-size: 24px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: 134px;
}
.text__mdLzd {
  display: block;
  font-size: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.frame17 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.frame18 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame18 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame18 > :global(.__wab_flex-container) > *,
.frame18 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame18 > :global(.__wab_flex-container) > picture > img,
.frame18
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.frame19 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame19 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame19 > :global(.__wab_flex-container) > *,
.frame19 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame19 > :global(.__wab_flex-container) > picture > img,
.frame19
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.svg__n3Ac {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 30px;
  height: 22px;
  display: block;
  flex-shrink: 0;
}
.text__jFmUl {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.frame20 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame20 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame20 > :global(.__wab_flex-container) > *,
.frame20 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame20 > :global(.__wab_flex-container) > picture > img,
.frame20
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.svg__mmtLd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 30px;
  height: 22px;
  display: block;
  flex-shrink: 0;
}
.text__k9Dri {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.frame21 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame21 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame21 > :global(.__wab_flex-container) > *,
.frame21 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame21 > :global(.__wab_flex-container) > picture > img,
.frame21
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.svg___6Oegx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 30px;
  height: 22px;
  display: block;
  flex-shrink: 0;
}
.text__lUv4M {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: auto;
}
.frame22 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame22 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame22 > :global(.__wab_flex-container) > *,
.frame22 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame22 > :global(.__wab_flex-container) > picture > img,
.frame22
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (max-width: 1024px) {
  .frame22 {
    display: none;
  }
}
.svg__kkHdn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 30px;
  height: 22px;
  display: block;
  flex-shrink: 0;
}
.text___9F47V {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.frame23 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame23 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame23 > :global(.__wab_flex-container) > *,
.frame23 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame23 > :global(.__wab_flex-container) > picture > img,
.frame23
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.svg__r3CZd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 30px;
  height: 22px;
  display: block;
  flex-shrink: 0;
}
.text__d3Y2 {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.freeBox___3TxLq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: stretch;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1024px) {
  .freeBox___3TxLq {
    height: 100%;
    min-height: 0;
    display: flex;
    padding: 0px;
  }
}
.text__cSgHe {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(0, 0, 0, 1);
}
.frame34 {
  background: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 3px;
  padding: 10px 20px;
}
.frame34 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame34 > :global(.__wab_flex-container) > *,
.frame34 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame34 > :global(.__wab_flex-container) > picture > img,
.frame34
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__a7GIs {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
